/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/05/2014, 04:01:02 PM
    Author     : EnriqueEncalada
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 950px;
    text-align: center;
    margin: 5px auto;
}

#main { background: #eee }

#header {
    height: 250px;
    background: #aaa;
}
#logo {
    height: 100px;
    width: 155px;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
    background-image: url(/DemoReservationSystem/images/logo.png);
}

#logoText {
    float: left;
    margin: 20px 0 0 70px;
    /* font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: right;
    background: #ccc;
}

.headerWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    line-height: 25px;
    background: #aaa;
}

#footer {
    height: 60px;
    clear: left;
    background: #aaa;
}

#indexLeftColumn {
    height: 400px;
    width: 350px;
    float: left;
    background: #eee;
}

#indexRightColumn {
    height: 400px;
    width: 500px;
    float: left;
    background: #eee;
}

#indexLeftRightColumn{
    height: 400px;
    width: 850px;
    background: #eee;
}
.categoryBox {
    height: 120px;
    width: 250px;
    margin: 100px 100px 6px;
    float: right;
    background: #ccc;
}